{% extends "outpost/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="border-bottom mb-2">
  <h1>
    {% trans "Create new network token" %}
  </h1>
</div>
<div class="alert alert-info" role="alert">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  {% blocktrans %}
  You can create a temporary Username and Password to connect to the WLAN named <code>mug-guest</code>. The lifetime for this account can be up to 24 hours.
  {% endblocktrans %}
</div>
<form method="post" action="{% url 'networktoken:create' %}" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="control-group {% if form.non_field_errors %}error{% endif %}">
    {% for error in form.non_field_errors %}
    <span class="help-inline">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="control-group">
    <button type="submit" class="btn btn-primary btn-block">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      {% trans "Create" %}
    </button>
  </div>
</form>
{% endblock %}
