{% extends "outpost/base.html" %}

{% load i18n %}

{% block content %}
<div class="border-bottom mb-2">
  <h1>
    {% trans "Your new network token" %}
  </h1>
</div>
<div class="alert alert-info" role="alert">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  {% blocktrans %}
  TODO: Some description on how to use this.
  {% endblocktrans %}
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Username" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <code>guest_{{ token.pk }}</code>
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Password" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    <code>{{ token.value }}</code>
  </div>
</div>
<div class="row no-gutters mb-1">
  <div class="col-md-3 p-2 bg-light text-dark">
    {% trans "Expiration" %}
  </div>
  <div class="col p-2 bg-white text-dark">
    {{ token.expires |date:"DATETIME_FORMAT" }}
  </div>
</div>
{% endblock %}
